@model IEnumerable<U2_W3_Homework_Backend.Models.Pizze>

@{
    ViewBag.Title = "Index";
}

<div class="container d-flex justify-content-center my-2">
    <ul class="navbar-nav under fs-6 d-flex flex-row justify-content-center">
        <li class="nav-item me-2">@Html.ActionLink("Amministrazione", "Index", "Amministrazione", null, new { @class = "text-danger me-2", style = "text-decoration:none;" })</li>
        <li class="nav-item me-2">@Html.ActionLink("Lista Ordini", "ListaOrdini", "Amministrazione", null, new { @class = "text-danger me-2", style = "text-decoration:none;" })</li>
        <li class="nav-item me-2">@Html.ActionLink("Riepilogo", "Riepilogo", "Amministrazione", null, new { @class = "text-danger me-2", style = "text-decoration:none;" })</li>
    </ul>
</div>

<h1 class="text-center text-danger my-5">Lista Pizze</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoPreparazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <img src="/Content/Img/@Html.DisplayFor(modelItem => item.Foto)" width="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoPreparazione) minuti
        </td>
        <td class="overflow-hidden" style="text-overflow:ellipsis; white-space:nowrap; max-width:400px">
            @Html.DisplayFor(modelItem => item.Ingredienti)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.ID }, new {@class = "btn btn-warning"})
            @Html.ActionLink("Dettagli", "Details", new { id=item.ID }, new {@class = "btn btn-info"})
            @Html.ActionLink("Cancella", "Delete", new { id=item.ID }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>

<p class="text-center">
    @Html.ActionLink("Aggiungi", "Create", null, new {@class="btn btn-danger"})
</p>
